.hero-section {
    text-align:left;
    background-color:rgb(196, 200, 218);
    color:beige;
    display:grid;
    grid-template-columns: 80px 1.8fr 1fr 80px;

}
.hero-section h1{
        font-family : "Georgia";
        font-size:42px;
}

#hero-video{
    width:100%;
    display: block;  
    grid-row:1/-1;
    grid-column-start:1;
    grid-column-end: -1;
    object-position: bottom center;
    object-fit:cover;
}
.hero-text{
    grid-row:1;
    grid-column: 2;
    margin-block: auto;
    max-width: 550px;
}
.find-salon {
    display:flex;
    min-width:fit-content;
    flex-wrap:wrap;
    row-gap:0.5em;
    column-gap:1.5rem;
    background-color: #f4f2f2;
    padding:2em 1em;
    border-radius:1em;
    max-width: 380px;
    
    color:#021146;
}
.find-salon-container{
    grid-column:3;
    grid-row:1;
    margin:auto;
}
@media(max-width:800px){
    .find-salon-container{
        width:100%;
        padding:2rem 4rem;
    background-color: #021146;
    grid-column-start: 1;
    grid-column-end:-1;
    grid-row:2;
}
}
.find-salon h2{
    width:100%;
}
