.service-list{
    padding:4rem;
}
.service-list-grid{
    display:grid;
    grid-template-columns: 1fr;
    background-color: #f4f2f2;
    /* border-color: #153ee8; */
    border-top:5px solid #153ee8;
    gap:2rem;
    padding:1.5rem 1rem;
}
@media(min-width:768px){
    .service-list-grid{
        grid-template-columns: 1fr 1fr;  
    }
}
.service-list-grid h3{
    font-size:1rem;
}